# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
build/
node_modules/
jspm_packages/

# Optional npm cache directory
.npm
.eslintcache
.node_repl_history
*.tgz

# DS files
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Custom files
.env
dist
debug.ts